<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @driverroute.driver %>
</p>

<p>
  <strong>Route:</strong>
  <%= @driverroute.route %>
</p>

<%= link_to 'Edit', edit_driverroute_path(@driverroute) %> |
<%= link_to 'Back', driverroutes_path %>
